<h1>Login Page</h1>

<form action="/Home/Login" method="post">
  User Name
  <input type="text" name="username" value="" required />
  Password
  <input type="password" name="password" value="" required />
  <button type="submit">Login</button>
</form>
