<h1>Register Page</h1>

<form action="/Home/Register" method="post">
  User Name
  <input type="text" name="username" value="" required />
  E-Mail
  <input type="text" name="email" value"" required />
  Password
  <input type="password" name="password" value="" required />
  <button type="submit">Register</button>
</form>